
@import 'reset';

// Variables

// clear sky - Blue - #005D81
// few clouds - Blue Gray - #596A71
// scattered clouds - Blue Light Gray - #AAC0C8
// broken clouds - Blue Lighter Gray - #AAC0C8
// shower rain - Green Gray - #688571
// rain - Green - #00982E
// thunderstorm - Magenta - #A5005D
// snow - Silver - silver
// mist - Light Gray - #917083

$primary: #005D81;
$primary-dark: #0B3444;
$primary-light: #AAC0C8;
$secondary: #007558;
$secondary-dark: #094637;
$secondary-light: #5B756F;
$tertiary: #A5005D;
$accent: #CD6B00;

$white: #fff;
$black: #333;

// Fonts
$serif: 'Libre Baskerville', serif;
$sans-serif: 'Roboto', 'Helvetica', Arial, sans-serif;
$heading: $sans-serif;
$body-text: $sans-serif;

$text-color: $white;

// Weather codes
$clear: #005D81;
$clouds: #596A71;
$mist: #917083;
$fog: #917083;
$rain: #688571;
$drizzle: #688571;
$storm: #440946;
$thunderstorm: $storm;
$snow: silver;
$sleet: $snow;
$tornado: $storm;
$hurricane: $storm;
$hot: #CD6B00;
$cold: $snow;
// windy


// RWD BREAKPOINTS
// mobile first! so you only have to use floats etc in larger sizes
// set breakpoints where your content breaks, not particular devices

$xs: 768px; //Extra Small Phones
$sm: 769px; //Small Devices Tablets and Up
$md: 992px; //Medium Devices  Desktops and Up
$lg: 1200px; //Large Devices Large Desktops and Up

@mixin breakpoint($point) {
  @if $point == xs {
    @media screen and (max-width: 768px)  { @content; }
  }
  @if $point == sm {
    @media screen and (min-width: 769px) { @content; }
  }
  @if $point == md {
    @media screen and (min-width: 992px) { @content; }
  }
  @if $point == tall {
    @media screen and ( min-height: 600px ) { @content; }
  }
  @else if $point == lg {
    @media screen and (min-width: 1200px) { @content; }
  }
}

// Extends

%text-shadow {
  text-shadow: 2px 2px 1px $black;
  text-shadow: -2px -2px -1px $primary-light;
}

%header {
  @extend %text-shadow;
  font-family: $heading;
  color: $text-color;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

%text-background {
    padding: 10px;
    background: transparentize($primary-light, .7);
    border-radius: 10px;
}

%light-background {
    color: $primary-dark;
    h1,
    h2 {
      color: $primary-dark;
    }
    #weather-toggle .wi-fahrenheit,
    #weather-toggle .wi-celsius {
      color: $white;
    }
    #weather-toggle .active .wi-fahrenheit,
    #weather-toggle .active .wi-celsius {
      color: $primary-dark;
    }
}

html,
body {
  font-family: $body-text;
  color: $text-color;
  min-height: 100%;
  height: 100%;
}

body {

  //background-image: url(http://sandbox.misfist.com/quote-generator/assets/images/oscar_the_grouch_sm.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: $primary;

}



// Block Elements
h1,
h2 {
  @extend %header;
  margin: 10px 0;
}

h1 {
  font-size: 46px;
}

h2 {
  font-size: 28px;
  font-weight: 300;
}

@media only screen and (min-width : 768px) {
  h1 {
    font-size: 85px;
  }

  h2 {
    font-size: 40px;
  }
}

#current-conditions {
  font-size: 3rem;
  text-transform: uppercase;
}

section {
  @extend %clearfix;
  width: 100%;
  min-height: 100%;
  padding: 2%;
  min-height: 700px;
  background-position: top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}

@media only screen and (min-width : 768px) {
  section {
    background-size: cover;
  }
}

// Main Sections

.container {
  @extend %clearfix;
}

#main-nav {
  background-color: $primary-dark;

  a,
  a:link {
    color: $white;
  }
}


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

  #main-nav {
    .navbar-nav {
      float: right;
    }
  }

}

#home {
  padding-top: 100px;

  header {}

  h1,
  h2 {
      margin: 0;
  }

  nav {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid $white;
    box-shadow: 0px -1px 0px 0px $black;
  }

  .forecast {
    font-size: 24px;

    #high {
      &:before {
        content: 'High: ';
      }
      &:after {
        content: '° | ';
      }
    }

    #low {
      &:before {
        content: 'Low: ';
      }
      &:after {
        content: '°';
      }
    }

  }

}

#weather-info {
  label {
    font-size: 35px;
  }
}

#current-conditions {
  padding: 5px 0 10px 0;
}

#localtime {
  padding: 1rem 0 1.5rem 0;
  font-size: 1.5rem;
}

footer {
  @extend %clearfix;
  background-color: $primary-dark;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;

  color: $white;
  a,
  a:link {
    color: $white;
    &:hover,
    &:focus {
      color: $white;
    }
  }
}

// Sticky footer
@media only screen and (min-width : 768px) {
  footer {
    bottom: 0;
    position: absolute;
  }
}
@media screen and ( min-height: 600px ){
  footer {
    bottom: 0;
    position: absolute;
  }
}

// Common Elements

em {
  font-style: italic;
}

article {

  margin-top: 20px;

  li {}

}

@media only screen and (min-width : 768px) {

  article {
    margin-top: 100px;
  }

}

label {
  color: $primary-dark;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px;
}

.well {
  background: transparentize($primary-light, .7);
  border-radius: 0;
  border-right: none;
  border-left: none;
  border-top: 1px dotted $white;
  border-bottom: 1px dotted $white;
}

#weather-toggle {
  display: block;
  margin: 0 auto 10px auto;


  .wi-fahrenheit,
  .wi-celsius {
    @extend %text-background;
    display: inline-block;
    font-size: 45px;
    color: $primary-dark;
    cursor: pointer;
    &:before,
    &:after {
      margin: 5px;
    }
  }

  .active .wi-fahrenheit,
  .active .wi-celsius {
    color: $white;
    cursor: inherit;
  }

}

// Specific Elements
.navbar-brand {
  margin: 0;
  a,
  a:link {
    color: $white;
  }
}

.navbar-inverse .navbar-toggle {
  border-color: $white;
}

.social-links {
  li {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

.tooltip {
  .tooltip-inner {
    background-color: $primary-dark;
  }
}

// Weather-specific styles
body,
#main {
  background-size: cover;
}

body[class*="clear"],
#main[class*="clear"] {
  background-color: $clear;
  background-image: url('../images/clear.jpg');

  &.night {
    
  }
}

body[class*="clouds"],
#mail[class*="clouds"] {
  background-color: $clouds;
  background-image: url('../images/clouds.jpg');
  @extend %light-background;
}

body[class*="mist"],
body[class*="fog"],
#main[class*="mist"],
#main[class*="fog"] {
  background-color: $mist;
  background-image: url('../images/fog.jpg');
  @extend %light-background;
}

body[class*="rain"],
body[class*="drizzle"],
#main[class*="rain"],
#main[class*="drizzle"] {
  background-color: $rain;
  background-image: url('../images/rain.jpg');
  @extend %light-background;
}

body[class*="storm"],
#main[class*="storm"] {
  background-color: $storm;
}

body[class*="thunderstorm"],
#main[class*="thunderstorm"] {
  background-color: $storm;
  background-image: url('../images/thunder.jpg');
  @extend %light-background;
}

body[class*="snow"],
body[class*="sleet"],
#main[class*="snow"],
#main[class*="sleet"] {
  background-color: $snow;
  background-image: url('../images/snow.jpg');
  @extend %light-background;
}

body[class*="tornado"],
#main[class*="tornado"] {
  background-color: $storm;
}

body[class*="hurricane"],
#main[class*="hurricane"] {
  background-color: $storm;
}

body[class*="hot"],
#main[class*="hot"] {
  background-color: $hot;
  background-image: url('../images/hot.png');
}

body[class*="cold"],
#main[class*="cold"] {
  background-color: $snow;
  background-image: url('../images/cold.jpg');
  @extend %light-background;
}
