@charset "UTF-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1,
h2 {
  text-shadow: 2px 2px 1px #333;
  text-shadow: -2px -2px -1px #AAC0C8; }

h1,
h2 {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  color: #fff; }

section:after, .container:after, footer:after {
  content: "";
  display: table;
  clear: both; }

html,
body {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  color: #fff;
  min-height: 100%;
  height: 100%; }

body {
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #005D81; }

body[class*="clear"] {
  background-color: #005D81;
  background-image: url("http://learning.site/local-weather/assets/images/clear.jpg"); }

body[class*="clouds"] {
  background-color: #596A71;
  background-image: url("http://learning.site/local-weather/assets/images/clouds.jpg"); }

body[class*="mist"],
body[class*="fog"] {
  background-color: #917083;
  background-image: url("http://learning.site/local-weather/assets/images/fog.jpg");
  color: #0B3444; }
  body[class*="mist"] h1,
  body[class*="mist"] h2,
  body[class*="fog"] h1,
  body[class*="fog"] h2 {
    color: #0B3444; }
  body[class*="mist"] #weather-toggle .wi-fahrenheit,
  body[class*="mist"] #weather-toggle .wi-celsius,
  body[class*="fog"] #weather-toggle .wi-fahrenheit,
  body[class*="fog"] #weather-toggle .wi-celsius {
    color: #fff; }
  body[class*="mist"] #weather-toggle .active .wi-fahrenheit,
  body[class*="mist"] #weather-toggle .active .wi-celsius,
  body[class*="fog"] #weather-toggle .active .wi-fahrenheit,
  body[class*="fog"] #weather-toggle .active .wi-celsius {
    color: #0B3444; }

body[class*="rain"],
body[class*="drizzle"] {
  background-color: #688571;
  background-image: url("http://learning.site/local-weather/assets/images/rain.jpg");
  color: #0B3444; }
  body[class*="rain"] h1,
  body[class*="rain"] h2,
  body[class*="drizzle"] h1,
  body[class*="drizzle"] h2 {
    color: #0B3444; }
  body[class*="rain"] #weather-toggle .wi-fahrenheit,
  body[class*="rain"] #weather-toggle .wi-celsius,
  body[class*="drizzle"] #weather-toggle .wi-fahrenheit,
  body[class*="drizzle"] #weather-toggle .wi-celsius {
    color: #fff; }
  body[class*="rain"] #weather-toggle .active .wi-fahrenheit,
  body[class*="rain"] #weather-toggle .active .wi-celsius,
  body[class*="drizzle"] #weather-toggle .active .wi-fahrenheit,
  body[class*="drizzle"] #weather-toggle .active .wi-celsius {
    color: #0B3444; }

body[class*="storm"] {
  background-color: #440946; }

body[class*="thunderstorm"] {
  background-color: #440946;
  background-image: url("http://learning.site/local-weather/assets/images/thunder.jpg");
  color: #0B3444; }
  body[class*="thunderstorm"] h1,
  body[class*="thunderstorm"] h2 {
    color: #0B3444; }
  body[class*="thunderstorm"] #weather-toggle .wi-fahrenheit,
  body[class*="thunderstorm"] #weather-toggle .wi-celsius {
    color: #fff; }
  body[class*="thunderstorm"] #weather-toggle .active .wi-fahrenheit,
  body[class*="thunderstorm"] #weather-toggle .active .wi-celsius {
    color: #0B3444; }

body[class*="snow"],
body[class*="sleet"] {
  background-color: silver;
  background-image: url("http://learning.site/local-weather/assets/images/snow.jpg");
  color: #0B3444; }
  body[class*="snow"] h1,
  body[class*="snow"] h2,
  body[class*="sleet"] h1,
  body[class*="sleet"] h2 {
    color: #0B3444; }
  body[class*="snow"] #weather-toggle .wi-fahrenheit,
  body[class*="snow"] #weather-toggle .wi-celsius,
  body[class*="sleet"] #weather-toggle .wi-fahrenheit,
  body[class*="sleet"] #weather-toggle .wi-celsius {
    color: #fff; }
  body[class*="snow"] #weather-toggle .active .wi-fahrenheit,
  body[class*="snow"] #weather-toggle .active .wi-celsius,
  body[class*="sleet"] #weather-toggle .active .wi-fahrenheit,
  body[class*="sleet"] #weather-toggle .active .wi-celsius {
    color: #0B3444; }

body[class*="tornado"] {
  background-color: #440946; }

body[class*="hurricane"] {
  background-color: #440946; }

body[class*="hot"] {
  background-color: #CD6B00;
  background-image: url("http://learning.site/local-weather/assets/images/hot.png"); }

body[class*="cold"] {
  background-color: silver;
  background-image: url("http://learning.site/local-weather/assets/images/cold.jpg");
  color: #0B3444; }
  body[class*="cold"] h1,
  body[class*="cold"] h2 {
    color: #0B3444; }
  body[class*="cold"] #weather-toggle .wi-fahrenheit,
  body[class*="cold"] #weather-toggle .wi-celsius {
    color: #fff; }
  body[class*="cold"] #weather-toggle .active .wi-fahrenheit,
  body[class*="cold"] #weather-toggle .active .wi-celsius {
    color: #0B3444; }

h1,
h2 {
  margin: 10px 0; }

h1 {
  font-size: 46px; }

h2 {
  font-size: 28px;
  font-weight: 300; }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 85px; }
  h2 {
    font-size: 40px; } }

section {
  width: 100%;
  min-height: 100%;
  padding: 2%;
  min-height: 700px;
  background-position: top;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden; }

@media only screen and (min-width: 768px) {
  section {
    background-size: cover; } }

#main-nav {
  background-color: #0B3444; }
  #main-nav a,
  #main-nav a:link {
    color: #fff; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  #main-nav .navbar-nav {
    float: right; } }

#home {
  padding-top: 100px; }
  #home h1,
  #home h2 {
    margin: 0; }
  #home nav {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #fff;
    box-shadow: 0px -1px 0px 0px #333; }
  #home .forecast {
    font-size: 24px; }
    #home .forecast #high:before {
      content: 'High: '; }
    #home .forecast #high:after {
      content: '° | '; }
    #home .forecast #low:before {
      content: 'Low: '; }
    #home .forecast #low:after {
      content: '°'; }

#weather-info label {
  font-size: 35px; }

#current-conditions {
  padding: 5px 0 10px 0; }

footer {
  background-color: #0B3444;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff; }
  footer a,
  footer a:link {
    color: #fff; }
    footer a:hover,
    footer a:focus,
    footer a:link:hover,
    footer a:link:focus {
      color: #fff; }

@media only screen and (min-width: 768px) {
  footer {
    bottom: 0;
    position: absolute; } }

@media screen and (min-height: 600px) {
  footer {
    bottom: 0;
    position: absolute; } }

em {
  font-style: italic; }

article {
  margin-top: 20px; }

@media only screen and (min-width: 768px) {
  article {
    margin-top: 100px; } }

label {
  color: #0B3444;
  display: inline-block;
  vertical-align: middle;
  margin-right: 5px; }

.well {
  background-color: transparent;
  border-radius: 0;
  border-right: none;
  border-left: none;
  border-top: 1px dotted #fff;
  border-bottom: 1px dotted #fff; }

#weather-toggle {
  display: block;
  margin: 0 auto 10px auto; }
  #weather-toggle .wi-fahrenheit,
  #weather-toggle .wi-celsius {
    display: inline-block;
    font-size: 45px;
    color: #0B3444;
    cursor: pointer; }
    #weather-toggle .wi-fahrenheit:before,
    #weather-toggle .wi-fahrenheit:after,
    #weather-toggle .wi-celsius:before,
    #weather-toggle .wi-celsius:after {
      margin: 5px; }
  #weather-toggle .active .wi-fahrenheit,
  #weather-toggle .active .wi-celsius {
    color: #fff;
    cursor: inherit; }

.navbar-brand {
  margin: 0; }
  .navbar-brand a,
  .navbar-brand a:link {
    color: #fff; }

.navbar-inverse .navbar-toggle {
  border-color: #fff; }

.social-links li {
  padding-top: 5px;
  padding-bottom: 5px; }
